.imgPortada{
    height: 600px;
    background: #2e8bb7;
    background: linear-gradient(271deg,#2e8bb7 0%, #056ea0 80%);
    background: -webkit-linear-gradient(271deg,#2e8bb7 0%, #056ea0 80%);
    background: -moz-linear-gradient(271deg,#2e8bb7 0%, #056ea0 80%);
}

/********** COMPONENTE CardImgPortada *****/

.imagePinc::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    background-color: #226A8A;
    opacity: 50%;
    /* backdrop-filter: blur(6px); */
}


.cardCentarlX3{
    width: 100%;
    position: absolute;
    top: 460px;
    z-index: 1;
}

.imgPortadaPoliza{
    margin-bottom: 130px;
}

@media only screen and (min-width:200px) and (max-width:1200px) {
    .cardCentarlX3{
        position: inherit;
        top: none;
    }

    .imgPortadaPoliza{
        margin-bottom: 0px;
    }
}