$primary: #afa694;
$secondary: #2E8BB7;
$success: #226A8A;
$info: #D3D800;
$warning: #95C11F;
$danger: #00803D;
$light: #92b13f; 
$dark: #f0f3f4;

//color footer: #3a4750

@import "../../node_modules/bootstrap/scss/bootstrap";
